canvas {
    border: 1px solid black;
    float: left;
}

#inputs {
    float: right;
    padding: 10px;
    width: 400 px;
}

#settings {
    padding: 10px;
    float: right;
    display: inline;
}

.in {
    display: block;
}